body{
    background-image: url('../img/BTTFII.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.card {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}

.clock {
    position: relative;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}

.hour {
    width: 4px;
    height: 40px;
    background: black;
}

.minute {
    width: 3px;
    height: 60px;
    background: black;
}

.second {
    width: 2px;
    height: 70px;
    background: red;
}